@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Light.ttf");
  font-weight: 300;
}
